<head>
<meta charset="utf-8"/>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>
<meta property="og:title" content="let that sink out dot com">
<meta property="og:type" content="article" />
<meta property="og:description" content="two magic steps that improve Twitter by 100%">
<meta property="og:image" content="https://letthatsinkout.com/letthatsinkout.png">
<meta property="og:url" content="https://letthatsinkout.com/">
<meta name="twitter:card" content="summary_large_image">
</head>
